
/* common styles */

body, html { margin: 0; }

h2, h3, h4 { font-family: HelveticaNeue-Thin; font-weight: 100; }
    h2 { font-size: 36px; color: #333333; line-height: 44px; }

p { font-family: HelveticaNeue-Thin; font-size: 18px; color: #333; line-height: 1.4; }
    p a { font-family: HelveticaNeue-Medium; color: #000; text-decoration: none; }
    p a:hover { border-bottom: 1px solid #000; }

.center_column { max-width: 580px; margin: 0 auto; padding: 0 38px; }

/* content boxes */

.content_box { padding: 6px 16px; margin: 25px 0; }
    .content_box h2 { border-bottom: 1px solid #64F000; margin: 0; padding: 0 0 3px; }
    .content_box.content_box_highlight { border: 1px solid #64f000; }

/* header */

header { background: #64F000; padding: 10px 0 17px; }

h1 { margin: 0; line-height: 49px; font-size: 48px; font-family: HelveticaNeue-Light, sans-serif;  }
    h1 a { color: #F8FFF2; text-decoration: none; }

#subtitle { font-size: 36px; color: #333333; margin: -3px 0 0; font-family: HelveticaNeue-Light, sans-serif; text-transform: lowercase; line-height: normal; }
