body, html { font-family: 'Quicksand', sans-serif; background-color: #f3f8f1; }

body { max-width: 800px; margin: 0 auto; font-size: 200%; padding: 0 7px; }

h1 { font-size: 2.65em; font-weight: normal; letter-spacing: -1px; margin: -0.3em 0 0; padding: 0; }

h2 { font-size: 1.55em; font-weight: normal; margin-bottom: 0.3em; }

a { color: #00b37e; text-decoration: none; padding: 1px 1px 3px; border-bottom: 1px solid #00dd9c; }
    a:hover { background-color: #ffffff; }

.salutation { margin: 30px 0 0 0.12em; font-size: 1.3em; padding: 0; }

.minibio { font-size: 1.45em; margin: -0.33em 0 0 0.1em; letter-spacing: -2px; padding-bottom: 1em; border-bottom: 1px solid #e3f4de; }

.follow_me { font-size: 0.85em; }

/* project cards */

.project_card {
    border-radius: 10px;
    max-width: 360px;
    min-height: 96px;
    margin: 0 10px 15px 0px;
    position: relative;
    padding: 14px 14px 8px;
    background: #fdfffd;
    box-shadow: 0 3px 10px #d5f6e0;
    float: left;
}
.project_card_icon {
    width: 80px; 
    height:80px;
    display: block;
    border-radius: 40px;
    position: absolute;
    top: 8px; left: 8px;
}
.project_card h3 { 
    font-size: 34px;
    margin: 0 0 0 82px; 
    font-weight: normal;
    color: #00dd9c; 
    letter-spacing: -1px; 
}
.project_card p {
    margin: 5px 0;
    font-size: 18px;
    color: #696969;
}
p.project_card_subtitle {
    margin: 0 0 15px 87px;
    font-size: 21px;
    letter-spacing: -2px;
    color: #333;
}


/* timeline */

.timeline {
    margin-left: 1.6em;
    border-left: 3px solid #ccc;
}
.timeline_separator { 
    background: #f3f8f1; 
    width: 100px; 
    text-align: center;
    margin-left: -50px;
    padding: 4px 0;
    text-transform: uppercase;
}
.timeline_item { 
    position: relative;
    min-height: 80px;
    padding: 0 51px;
    margin: 35px 0; }
.timeline_icon {
    position: absolute;
    left: -44px;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #00aaff;
    border-radius: 40px;
    border: 3px solid #f3f8f1;
}
.timeline_date { padding: 15px 0 0px; margin: 0; font-size: 21px; color: #696969; }
.timeline h3 { margin: -0.2em 0 0; font-size: 30px; }

/* media queries (tried to keep this as simple as possible) */

@media (max-width: 815px) 
{
    .project_card { max-width:inherit; float: none; }
}

@media (max-width: 670px) 
{
    body { font-size: 130%; }
}

@media (max-width: 460px) 
{
    body { font-size: 90%; }
}

