body, html { margin: 0; padding: 0; height: 100%; width: 100%; }

body { font-family: Verdana, sans-serif; }

h1, p { margin: 0; }

h1 { position: absolute; top: 6px; left: 10px; font-weight: normal; font-size: large; color: #999999; }
	h1 span { text-transform: uppercase; color: #222; }

h2 { color: #e94700; font-weight: normal; }

#header { position: fixed; top: 0; border-bottom: 1px solid #696969; width: 100%; height: 34px; z-index: 100; background: #fcfcfc; }

#menu { width: 415px; height: 34px; position: absolute; right: 0; background: #fcfcfc; z-index: 200; }

.headerLink { font-size: small; float: right; margin: 4px 9px; text-decoration: none; display: block; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid; padding: 4px 6px; }

#quickGuideLink, #usabilityTestLink, #toolLink { color: #e94700; background: #ffede5; border-color: #ffc9b1; }
#quickGuideLink:hover, #usabilityTestLink:hover, #toolLink:hover { color: #ffefe8; background: #ff7d44; border-color: #ff4e00; }

#sourceLink { color: #0A87FF; background: #E6F3FF; border-color: #B3D9FF; }
#sourceLink:hover { background-color: #3B9FFF; border-color: #178DFF; color: #E3F0FC; }

#bienvisto { top: 35px; position:absolute; width: 100%; height: 600px; overflow: hidden; }

#content { max-width: 600px; margin: 50px auto; color: #333333; padding-bottom: 50px; }
	#content h3 { color: #e94700; font-weight: normal; margin-bottom: 5px; }
	#content .details { color: #555555; font-size: small; margin-top: 10px; }

.imgContainer { text-align: center; }
	.imgContainer img { max-width: 600px; }