<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Miguel Santirso &mdash; videogame designer & developer</title>
        <meta name="description" content="Miguel Santirso - videogame designer and programmer" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        
        <header>
            
            <div class="center_column">
            
                <h1><a href="http://miguelsantirso.es/">@mstirso</a></h1>
                <p id="subtitle">Code, design, videogames.</p>
                
            </div>
            
        </header>
        
        <main class="center_column">
            
            
            <!-- About Me section -->
            
            <div class="content_box content_box_highlight">
                <h2>About me</h2>
                
                <p>I am <a href="http://miguelsantirso.es" title="Miguel Santirso's Personal Website">Miguel Santirso</a>, a {{ dynamic.age }}-year old videogame programmer and designer.</p>
                
                <p>I work at <a href="http://5ants.com" title="5 Ants Official Website">5 Ants</a> where I led the programming of the highly successful game <a href="http://tinythief.com" title="Tiny Thief Official Website">Tiny Thief</a> and coordinated the final stages of the development of our second game <a href="http://footballmaniacs.5ants.com" title="Football Maniacs Official Website">Football Maniacs</a>.</p>
                
                <p>I am very passionate about videogame design, programming and user experience.</p>

                <p>I have always enjoyed learning new things and working with talented people to create new experiences.</p>

                <p>Get in touch by <a href="mailto:tirso.00+contact@gmail.com">e-mail</a> or <a href="https://twitter.com/mstirso" title="Miguel Santirso on Twitter">twitter</a>.</p>
                
            </div>
            
            
            <!-- Project Timeline -->
            <div class="content_box">
            
                <h2>Project Timeline</h2>
                
                <div id="timeline">
                    
                    <div id="timeline_items">
                        
                        <div class="timeline_item">
                            <p class="timeline_date timeline_date_year">today</p>
                        </div>
                        
                        {{#projects}}
                        
                        {{#project}}
                        <div class="timeline_item">
                            <p class="timeline_date">{{& date }}</p>
                            <span class="timeline_marker"></span>
                            <p class="timeline_item_content timeline_item_title {{#one_line}} timeline_item_title_oneline {{/one_line}}">
                                {{#url}}
                                <a href="{{.}}">{{ title }}</a>
                                {{/url}}
                                {{^url}} {{ title }} {{/url}}
                            </p>
                            {{#desc}}
                            <p class="timeline_item_content">{{ . }}</p>
                            {{/desc}}
                        </div>
                        {{/project}}
                        
                        {{#year}}
                        <div class="timeline_item">
                            <p class="timeline_date timeline_date_year">{{.}}</p>
                        </div>
                        {{/year}}
                        
                        {{/projects}}
                        
                        <div class="timeline_closer"></div>
                        
                    </div>
                    
                </div>
                
            
        </main>
        
        <footer>
            
            <div class="center_column">
                <p>Created with care by Miguel. Last updated {{ dynamic.last_updated }}</p>
            </div>
            
        </footer>
        
    </body>
</html>
