
/* constants & reusable styles */

$font-stack: Helvetica, sans-serif;
$color-background: #fafafa;
$color-accent: #64fa00;
$color-text: #333;
$color-link: #000;
$color-footer: #777;

.font-thin { 
    font-family: HelveticaNeue-Thin, 'Helvetica Neue', HelveticaNeue, sans-serif; 
    font-weight: 100; 
}
.font-light { 
    font-family: HelveticaNeue-Light, 'Helvetica Neue', HelveticaNeue, sans-serif;
    font-weight: 300; 
}
.font-medium { 
    font-family: HelveticaNeue-Medium, 'Helvetica Neue', HelveticaNeue, sans-serif; 
    font-weight: 500; 
}
.font-bold { 
    font-family: HelveticaNeue-Bold, 'Helvetica Neue', HelveticaNeue, sans-serif; 
    font-weight: 600; 
}

/* utils */

@mixin circle($radius) {
    width: $radius;
    height: $radius;
    border-radius: $radius;
}


/* common styles */

body, html { margin: 0; background: $color-background; }

h2, h3, h4 { @extend .font-thin; }
    h2 { font-size: 36px; color: $color-text; line-height: 44px; }

p { @extend .font-thin; font-size: 18px; color: $color-text; line-height: 1.4; }
    p a { @extend .font-medium; color: $color-link; text-decoration: none; }
    p a:hover { border-bottom: 1px solid $color-link; }

.center_column { max-width: 580px; margin: 0 auto; padding: 0 38px; }


/* content boxes */

.content_box { padding: 6px 16px; margin: 25px 0; }
    .content_box h2 { border-bottom: 1px solid $color-accent; margin: 0; padding: 0 0 3px; }
    .content_box.content_box_highlight { border: 1px solid $color-accent; }


/* header */

header { background: $color-accent; padding: 10px 0 17px; }

h1 { @extend .font-bold; margin: 0; line-height: 49px; font-size: 48px; }
    h1 a { color: $color-background; text-decoration: none; }

#subtitle { @extend .font-light; font-size: 36px; color: $color-text; margin: -3px 0 0; text-transform: lowercase; line-height: normal; }


/* timeline */

#timeline_items { border-left: 1px solid $color-accent; min-height: 100px; width: 65%; margin: 0 0 0 35%; }

.timeline_item { position: relative; margin: 0 0 15px; padding: 8px 0; min-height: 25px; }

.timeline_date { position: absolute; width: 100px; text-align: right; margin: 1px 0 0 -118px; line-height: 1; }
    .timeline_date_year { @extend .font-medium; margin-top: 0; }

.timeline_marker { @include circle(15px); background: $color-background; border: 1px solid $color-accent; position: absolute; top: 18px; left: -9px; font-size: 16px; }


p.timeline_item_content { margin: 0 0 10px 19px; line-height: 100%; font-size: 14px; @extend .font-light;line-height: 1.15em; }
p.timeline_item_title { @extend .font-medium; font-size: 16px; }
p.timeline_item_title_oneline { margin-top: 0.5em; }

.timeline_closer { @include circle(7px); background: $color-accent; position: absolute; margin-left: -4px; margin-top: -15px; }

/* footer */

footer { border-top: 1px solid $color-accent; margin-top: 40px; }
    footer p { color: $color-footer; margin: 3px 0 10px; font-size: 0.96em; text-align: center; }

